<tr id="<%= dom_id activity %>" >
  <td> <%= activity.name %> </td>
  <td> <%= activity.address %> </td>
  <td> <%= activity.starts_at %> </td>
  <td> <%= activity.ends_at %> </td>
  <td>
    <%= link_to "Edit", edit_activity_path(activity) %>
    <%= button_to "Destroy", activity, method: :delete, class: "btn" %>
  </td>
</tr>